body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    background: #ffffff;
    color: white;
}

.menu a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}